/* this is my stylesheet for my homepage*/
/* table of contents */
/* header styles */
/* main body styles */
/* footer styles */

h1, h6 {font-family: ", "Book Antiqua}

figcaption {text-align: center; color:#828C92; }

h6 {text-align: center; color: #828C92;}





header{color:#828C92;}
  h1 {color:#828C92;}
  nav {color:#828C92;}
  footer {color:#828C92;}
  body {background-color:#D3EFFF; }
  h2 {color:#828C92;text-align:center;}
/*left form within page */
form {text-align: right;}
label{text-align: right;}
input{text-align: right;}

    #nav ul {
        display: inline-block;
        list-style-type: none;
         color:#E6E6E6;  }
p { text-align: left; font-family: ;color:#828C92;}

#579ACC
/* header styles */

/* main body styles */

/* footer styles */
